/* Docs.rs Dark theme */
pre:has(code[data-highlighted]) {
  background-color: #2a2a2a;
  color: #dddddd;
}

code[data-highlighted] {
  background: transparent;
}

  a-at { color: #ee6868; }
  a-co { color: #ee6868; }
  a-cb { color: #ee6868; }
  a-fb { color: #769acb; }
  a-f { color: #2bab63; }
  a-fm { color: #2bab63; }
  a-k { color: #ab8ac1; }
  a-kc { color: #ab8ac1; }
  a-ko { color: #ab8ac1; }
  a-kd { color: #ab8ac1; }
  a-ke { color: #ab8ac1; }
  a-kf { color: #ab8ac1; }
  a-ki { color: #ab8ac1; }
  a-kp { color: #ab8ac1; }
  a-kr { color: #ab8ac1; }
  a-kt { color: #ab8ac1; }
  a-ky { color: #ab8ac1; }
  a-o { color: #ab8ac1; }
  a-pr { color: #769acb; }
  a-p { color: #dddddd; }
  a-pb { color: #dddddd; }
  a-pd { color: #dddddd; }
  a-ps { color: #ff9011; }
  a-s { color: #83a300; }
  a-ss { color: #83a300; }
  a-tg { color: #3e999f; }
  a-td { color: #3e999f; }
  a-te { color: #3e999f; }
  a-t { color: #2dbfb8; }
  a-tb { color: #769acb; }
  a-tq { color: #2dbfb8; }
  a-v { color: #dddddd; }
  a-vb { color: #ee6868; }
  a-vp { color: #dddddd; }
  a-c { color: #8d8d8b; }
  a-cd { color: #8d8d8b; }
  a-m { color: #3e999f; }
  a-l { color: #d97f26; }
  a-da { color: #83a300; }
  a-dd { color: #ee6868; }
  a-n { color: #83a300; }
  a-tl { color: #dddddd; }
  a-em { font-style: italic; }
  a-st { font-weight: bold; }
  a-tu { color: #769acb; text-decoration: underline; }
  a-tr { color: #2dbfb8; }
  a-se { color: #d97f26; }
  a-tt { color: #2dbfb8; font-weight: bold; }
  a-tx { text-decoration: line-through; }
  a-sp { color: #dddddd; }
  a-in { color: #ab8ac1; }
  a-sc { color: #ab8ac1; }
  a-rp { color: #ab8ac1; }
  a-cn { color: #ab8ac1; }
  a-ex { color: #ab8ac1; }
  a-pp { color: #ab8ac1; }
  a-ch { color: #83a300; }
  a-cs { color: #83a300; }
  a-vm { color: #dddddd; }
  a-fd { color: #2bab63; }
  a-tf { color: #2dbfb8; }
  a-fc { color: #2bab63; }
  a-km { color: #ab8ac1; }
  a-dr { color: #ab8ac1; }
  a-rx { color: #83a300; }
}
