/* Docs.rs Light theme */
pre:has(code[data-highlighted]) {
  background-color: #f5f5f5;
  color: #24292e;
}

code[data-highlighted] {
  background: transparent;
}

  a-at { color: #c82829; }
  a-co { color: #c82829; }
  a-cb { color: #c82829; }
  a-fb { color: #4271ae; }
  a-f { color: #ad7c37; }
  a-fm { color: #ad7c37; }
  a-k { color: #8959a8; }
  a-kc { color: #8959a8; }
  a-ko { color: #8959a8; }
  a-kd { color: #8959a8; }
  a-ke { color: #8959a8; }
  a-kf { color: #8959a8; }
  a-ki { color: #8959a8; }
  a-kp { color: #8959a8; }
  a-kr { color: #8959a8; }
  a-kt { color: #8959a8; }
  a-ky { color: #8959a8; }
  a-o { color: #8959a8; }
  a-pr { color: #4271ae; }
  a-p { color: #24292e; }
  a-pb { color: #24292e; }
  a-pd { color: #24292e; }
  a-ps { color: #ff9011; }
  a-s { color: #718c00; }
  a-ss { color: #718c00; }
  a-tg { color: #3e999f; }
  a-td { color: #3e999f; }
  a-te { color: #3e999f; }
  a-t { color: #ad378a; }
  a-tb { color: #4271ae; }
  a-tq { color: #ad378a; }
  a-v { color: #24292e; }
  a-vb { color: #c82829; }
  a-vp { color: #24292e; }
  a-c { color: #8e908c; }
  a-cd { color: #8e908c; }
  a-m { color: #3e999f; }
  a-l { color: #b76514; }
  a-da { color: #718c00; }
  a-dd { color: #c82829; }
  a-n { color: #718c00; }
  a-tl { color: #000000; }
  a-em { font-style: italic; }
  a-st { font-weight: bold; }
  a-tu { color: #4271ae; text-decoration: underline; }
  a-tr { color: #ad378a; }
  a-se { color: #b76514; }
  a-tt { color: #ad378a; font-weight: bold; }
  a-tx { text-decoration: line-through; }
  a-sp { color: #24292e; }
  a-in { color: #8959a8; }
  a-sc { color: #8959a8; }
  a-rp { color: #8959a8; }
  a-cn { color: #8959a8; }
  a-ex { color: #8959a8; }
  a-pp { color: #8959a8; }
  a-ch { color: #718c00; }
  a-cs { color: #718c00; }
  a-vm { color: #24292e; }
  a-fd { color: #ad7c37; }
  a-tf { color: #ad378a; }
  a-fc { color: #ad7c37; }
  a-km { color: #8959a8; }
  a-dr { color: #8959a8; }
  a-rx { color: #718c00; }
}
